<div align="center">
    <h2>Login</h2>
    {{message}}
    <table>
        <tr>
            <th>Login ID:</th>
            <td><input type="text" name="loginId" [(ngModel)] ='loginId'></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="text" name="password" [(ngModel)] ='password'></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="signIn()">signIn</button>
            </td>
        </tr>
    </table>
</div>
